/target
**/*.rs.bk
Cargo.lock

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
*.DS_Store

secret/
frp/
*.log
log

# dot env
.env